<h1>Stupid coaching</h1>
<p><% if @question.blank? %>
  _
  <% else %>
  <%= @question %></p>
  <% end %>
<p>- You</p>
<p><%= @answer %></p>
<p>- Your coach</p>
<%= link_to "Ask a new question", ask_path %>
